@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 88.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.breadcrumps {
  overflow: auto;
  white-space: nowrap;
  margin: 1.25rem 0;
  padding-bottom: 0.125rem;
}

.breadcrumps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.breadcrumps__item {
  font-size: 1rem;
  line-height: 1.25;
  opacity: 0.5;
}

.breadcrumps__item span {
  color: orange;
}

.header {
  margin-bottom: 1.875rem;
  background-color: #4f9e9c;
}

.header__container {
  min-height: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo img {
  width: 5rem;
  height: auto;
  border-radius: 50%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.header__link {
  color: white;
}

.header__link:hover {
  text-decoration: underline;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  color: #000;
  background-color: #eef4f2;
}

.top-footer__container {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
}

@supports (padding-bottom: clamp( 1.875rem , 1.3794247788rem  +  2.4778761062vw , 3.625rem )) {
  .top-footer__container {
    padding-bottom: clamp( 1.875rem , 1.3794247788rem  +  2.4778761062vw , 3.625rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3794247788rem  +  2.4778761062vw , 3.625rem )) {
  .top-footer__container {
    padding-bottom: calc(1.875rem + 1.75 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-top: clamp( 1.875rem , 1.3794247788rem  +  2.4778761062vw , 3.625rem )) {
  .top-footer__container {
    padding-top: clamp( 1.875rem , 1.3794247788rem  +  2.4778761062vw , 3.625rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.3794247788rem  +  2.4778761062vw , 3.625rem )) {
  .top-footer__container {
    padding-top: calc(1.875rem + 1.75 * (100vw - 20rem) / 70.625);
  }
}

.top-footer__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.5333333333;
  letter-spacing: 0.05em;
  color: orange;
  text-align: center;
}

.top-footer__text {
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
}

.mid-footer {
  background-color: #eef4f2;
}

@supports (padding-top: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem )) {
  .mid-footer {
    padding-top: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem )) {
  .mid-footer {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 70.625);
  }
}

.mid-footer__container {
  display: -ms-grid;
  display: grid;
  row-gap: 1.25rem;
  padding-bottom: 1.875rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

@supports ((-moz-column-gap: clamp( 1.875rem , 0.0519911504rem  +  9.1150442478vw , 8.3125rem )) or (column-gap: clamp( 1.875rem , 0.0519911504rem  +  9.1150442478vw , 8.3125rem ))) {
  .mid-footer__container {
    -webkit-column-gap: clamp( 1.875rem , 0.0519911504rem  +  9.1150442478vw , 8.3125rem );
       -moz-column-gap: clamp( 1.875rem , 0.0519911504rem  +  9.1150442478vw , 8.3125rem );
            column-gap: clamp( 1.875rem , 0.0519911504rem  +  9.1150442478vw , 8.3125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.0519911504rem  +  9.1150442478vw , 8.3125rem )) or (column-gap: clamp( 1.875rem , 0.0519911504rem  +  9.1150442478vw , 8.3125rem ))) {
  .mid-footer__container {
    -webkit-column-gap: calc(1.875rem + 6.4375 * (100vw - 20rem) / 70.625);
       -moz-column-gap: calc(1.875rem + 6.4375 * (100vw - 20rem) / 70.625);
            column-gap: calc(1.875rem + 6.4375 * (100vw - 20rem) / 70.625);
  }
}

.item-mid-footer__title {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2222222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}

.item-mid-footer__list {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.item-mid-footer__item {
  line-height: 1.2222222222;
  color: rgba(0, 0, 0, 0.8);
}

.item-mid-footer__link:hover {
  text-decoration: underline;
}

.bottom-footer {
  background-color: #eef4f2;
  color: rgba(0, 0, 0, 0.8);
}

.bottom-footer__container {
  display: -ms-grid;
  display: grid;
  row-gap: 1.25rem;
  padding: 1.875rem 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

@supports ((-moz-column-gap: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem )) or (column-gap: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem ))) {
  .bottom-footer__container {
    -webkit-column-gap: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem );
       -moz-column-gap: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem );
            column-gap: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem )) or (column-gap: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem ))) {
  .bottom-footer__container {
    -webkit-column-gap: calc(1.875rem + 4.375 * (100vw - 20rem) / 70.625);
       -moz-column-gap: calc(1.875rem + 4.375 * (100vw - 20rem) / 70.625);
            column-gap: calc(1.875rem + 4.375 * (100vw - 20rem) / 70.625);
  }
}

.item-bottom-footer__title {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2222222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}

.item-bottom-footer__button {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  background-color: orange;
  top: -0.09375rem;
  right: -0.09375rem;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-bottom-footer__list {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.item-bottom-footer__item {
  line-height: 1.5;
}

.item-bottom-footer__item_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.375rem;
}

.item-bottom-footer__item span {
  display: block;
}

.item-bottom-footer__item:last-child {
  margin-bottom: 1.875rem;
}

.item-bottom-footer__link:hover {
  text-decoration: underline;
}

.item-bottom-footer__link span {
  display: block;
}

.item-bottom-footer__text {
  line-height: 1.5;
  max-width: 19.875rem;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.6012168142rem  +  1.6814159292vw , 2.125rem )) {
  .item-bottom-footer__text {
    margin-bottom: clamp( 0.9375rem , 0.6012168142rem  +  1.6814159292vw , 2.125rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.6012168142rem  +  1.6814159292vw , 2.125rem )) {
  .item-bottom-footer__text {
    margin-bottom: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 70.625);
  }
}

.item-bottom-footer__text a {
  color: orange;
}

.item-bottom-footer__form {
  background-color: inherit;
  border: 1.5px solid black;
  position: relative;
  max-width: 23.4375rem;
}

.item-bottom-footer__input {
  color: black;
  padding: 0px 0px 0px 1.25rem;
  background-color: inherit;
  width: 100%;
  height: 2.9375rem;
  border-radius: 3px;
}

.law-footer {
  background-color: black;
}

.law-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.875rem 15px;
  line-height: 1.9285714286;
  color: rgba(0, 0, 0, 0.8);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 0.9375rem , 0.4950221239rem  +  2.2123893805vw , 2.5rem )) {
  .law-footer__container {
    gap: clamp( 0.9375rem , 0.4950221239rem  +  2.2123893805vw , 2.5rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.4950221239rem  +  2.2123893805vw , 2.5rem )) {
  .law-footer__container {
    gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 70.625);
  }
}

.law-footer__link-copy {
  max-width: 51.0625rem;
  font-size: 0.875rem;
}

.goods-page {
  margin-bottom: 3.125rem;
}

.goods-page__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

@supports (margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .goods-page__top {
    margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .goods-page__top {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 70.625);
  }
}

.goods-page__slider {
  margin: -1.25rem;
  padding: 1.25rem;
}

@supports (margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .goods-page__wrapper:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .goods-page__wrapper:not(:last-child) {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 70.625);
  }
}

.goods-page__slider {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 1.875rem;
}

.goods-page__content {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
}

.goods-page__content:hover {
  -webkit-box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.4);
}

.goods-page__body {
  display: -ms-grid;
  display: grid;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid rgba(20, 20, 20, 0.5);
  gap: 1.25rem;
}

@supports (margin-bottom: clamp( 0.625rem , 0.4480088496rem  +  0.8849557522vw , 1.25rem )) {
  .goods-page__body {
    margin-bottom: clamp( 0.625rem , 0.4480088496rem  +  0.8849557522vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4480088496rem  +  0.8849557522vw , 1.25rem )) {
  .goods-page__body {
    margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 70.625);
  }
}

.goods-page-ibg_contain {
  display: block;
  padding-bottom: 88.8888888889%;
}

.goods-page__image {
  display: block;
}

@supports (padding-left: clamp( 1.875rem , 1.485619469rem  +  1.9469026549vw , 3.25rem )) {
  .goods-page__image {
    padding-left: clamp( 1.875rem , 1.485619469rem  +  1.9469026549vw , 3.25rem );
  }
}

@supports not (padding-left: clamp( 1.875rem , 1.485619469rem  +  1.9469026549vw , 3.25rem )) {
  .goods-page__image {
    padding-left: calc(1.875rem + 1.375 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-right: clamp( 1.875rem , 1.485619469rem  +  1.9469026549vw , 3.25rem )) {
  .goods-page__image {
    padding-right: clamp( 1.875rem , 1.485619469rem  +  1.9469026549vw , 3.25rem );
  }
}

@supports not (padding-right: clamp( 1.875rem , 1.485619469rem  +  1.9469026549vw , 3.25rem )) {
  .goods-page__image {
    padding-right: calc(1.875rem + 1.375 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-top: clamp( 0.9375rem , 0.7251106195rem  +  1.0619469027vw , 1.6875rem )) {
  .goods-page__image {
    padding-top: clamp( 0.9375rem , 0.7251106195rem  +  1.0619469027vw , 1.6875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.7251106195rem  +  1.0619469027vw , 1.6875rem )) {
  .goods-page__image {
    padding-top: calc(0.9375rem + 0.75 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.7251106195rem  +  1.0619469027vw , 1.6875rem )) {
  .goods-page__image {
    padding-bottom: clamp( 0.9375rem , 0.7251106195rem  +  1.0619469027vw , 1.6875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.7251106195rem  +  1.0619469027vw , 1.6875rem )) {
  .goods-page__image {
    padding-bottom: calc(0.9375rem + 0.75 * (100vw - 20rem) / 70.625);
  }
}

.goods-page__link span {
  display: block;
}

.goods-page__order {
  display: -ms-grid;
  display: grid;
}

.goods-page__inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (margin-bottom: clamp( 0.625rem , 0.3418141593rem  +  1.4159292035vw , 1.625rem )) {
  .goods-page__inform {
    margin-bottom: clamp( 0.625rem , 0.3418141593rem  +  1.4159292035vw , 1.625rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3418141593rem  +  1.4159292035vw , 1.625rem )) {
  .goods-page__inform {
    margin-bottom: calc(0.625rem + 1 * (100vw - 20rem) / 70.625);
  }
}

.goods-page__price {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.7;
}

.goods-page__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.goods-page__icon_1 {
  color: black;
  margin-right: 0.9375rem;
  font-size: 1.5625rem;
}

.goods-page__icon_2 {
  color: orange;
  font-size: 1.5625rem;
}

.goods-page__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-weight: 600;
  font-size: 1.125rem;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goods-page__button::before {
  padding-left: 1rem;
}

.top-goods__title {
  font-weight: 700;
  line-height: 1.5333333333;
  letter-spacing: 0.05em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@supports (font-size: clamp( 1.375rem , 1.2334070796rem  +  0.7079646018vw , 1.875rem )) {
  .top-goods__title {
    font-size: clamp( 1.375rem , 1.2334070796rem  +  0.7079646018vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.2334070796rem  +  0.7079646018vw , 1.875rem )) {
  .top-goods__title {
    font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 70.625);
  }
}

.top-goods__link {
  font-weight: 600;
  line-height: 2.5555555556;
  color: rgba(20, 20, 20, 0.58);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (font-size: clamp( 1rem , 0.9646017699rem  +  0.1769911504vw , 1.125rem )) {
  .top-goods__link {
    font-size: clamp( 1rem , 0.9646017699rem  +  0.1769911504vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9646017699rem  +  0.1769911504vw , 1.125rem )) {
  .top-goods__link {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 70.625);
  }
}

.top-goods__link::before {
  font-size: 1rem;
  color: orange;
  padding-left: 0.9375rem;
}

.describe-goods {
  display: -ms-grid;
  display: grid;
}

.describe-goods__title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.7;
}

.describe-goods__quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2.125;
  color: #ABABAB;
}

.describe-goods__grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.describe-goods__review {
  font-weight: 600;
  font-size: 1rem;
  line-height: 2.125;
  color: #ABABAB;
}

.rating {
  font-size: 1.5625rem;
}

.rating__value {
  display: none;
}

.for-seo {
  line-height: 150%;
  color: #737373;
}

.for-seo h1 {
  font-size: 1.5rem;
  margin-bottom: 0.9375rem;
}

.for-seo p {
  margin-bottom: 0.625rem;
}

.for-seo li {
  padding-left: 1.25rem;
}

.header-seo__container {
  margin-bottom: 4.375rem;
}

.catalog-page {
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;
}

.catalog-page__header {
  margin-bottom: 1.25rem;
}

.header-catalog__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2083333333;
}

.header-catalog__navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-catalog__filter {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.body-catalog_filter-container {
  padding: 0 1.875rem;
}

.body-catalog__wrap {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.25rem, 1fr));
  gap: 1.875rem;
}

@supports (margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .body-catalog__wrap {
    margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .body-catalog__wrap {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 70.625);
  }
}

.body-catalog__title {
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
  min-height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.875rem;
  width: 100%;
}

.footer-catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-catalog__more {
  font-weight: 600;
  font-size: 1.25rem;
  color: orange;
  border: 2px solid orange;
  border-radius: 3px;
  padding: 0.125rem 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2.3;
}

.pagging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagging__arrow {
  font-size: 1.25rem;
  color: orange;
}

.pagging__arrow:disabled {
  color: rgba(0, 0, 0, 0.12);
}

.pagging__arrow_left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagging__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagging__link {
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  line-height: 1.7777777778;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spollers-catalog__item {
  margin-bottom: 3.125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.spollers-catalog__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1.875rem;
}

.spollers-catalog__body_ck {
  display: -ms-grid;
  display: grid;
  gap: 1.375rem;
}

.spollers-catalog__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}

.input {
  border: 1px solid black;
  border-radius: 2px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 2.625rem;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  padding: 0 0.9375rem;
}

@supports (margin-bottom: clamp( 1.875rem , 0.282079646rem  +  7.9646017699vw , 7.5rem )) {
  .about-us-page__history {
    margin-bottom: clamp( 1.875rem , 0.282079646rem  +  7.9646017699vw , 7.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.282079646rem  +  7.9646017699vw , 7.5rem )) {
  .about-us-page__history {
    margin-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 70.625);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 0.282079646rem  +  7.9646017699vw , 7.5rem )) {
  .about-us-page__employees {
    margin-bottom: clamp( 1.875rem , 0.282079646rem  +  7.9646017699vw , 7.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.282079646rem  +  7.9646017699vw , 7.5rem )) {
  .about-us-page__employees {
    margin-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 70.625);
  }
}

.history-about-us__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2083333333;
}

.history-about-us__content {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(37.5rem, 1fr));
}

@supports (margin-bottom: clamp( 1.875rem , 0.9900442478rem  +  4.4247787611vw , 5rem )) {
  .history-about-us__content {
    margin-bottom: clamp( 1.875rem , 0.9900442478rem  +  4.4247787611vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.9900442478rem  +  4.4247787611vw , 5rem )) {
  .history-about-us__content {
    margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 70.625);
  }
}

.history-about-us__img-ibg_contain {
  padding-bottom: 57.2296476306%;
}

.history-about-us__text {
  line-height: 1.5;
}

.history-about-us__text p {
  margin-bottom: 1.875rem;
}

.history-about-us__text span {
  font-weight: 600;
}

.actions-about-us {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.actions-about-us__block {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  justify-items: center;
  -ms-grid-row-align: start;
      align-self: start;
}

.actions-about-us__img {
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  background-color: white;
}

.actions-about-us__img img {
  width: 5.0625rem;
  height: 5.0625rem;
}

.actions-about-us__text {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6;
}

.employees-about-us__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2083333333;
}

@supports (margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .employees-about-us__title {
    margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .employees-about-us__title {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 70.625);
  }
}

.big-person-us {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(37.5rem, 1fr));
}

@supports (margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .big-person-us {
    margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .big-person-us {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 70.625);
  }
}

@supports (gap: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .big-person-us {
    gap: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .big-person-us {
    gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 70.625);
  }
}

.big-person-us__img-ibg_contain {
  padding-bottom: 64.358974359%;
}

.big-person-us__text {
  line-height: 1.5;
}

.big-person-us__text > *:not(:last-child) {
  border-bottom: 1px solid rgba(20, 20, 20, 0.3);
}

.big-person-us__title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.35;
  padding-bottom: 1.875rem;
  margin-bottom: 1.875rem;
}

.big-person-us__about {
  padding-bottom: 1.875rem;
  margin-bottom: 1.875rem;
}

.big-person-us__item {
  margin-bottom: 1.25rem;
  position: relative;
  padding-left: 1.625rem;
}

.big-person-us__email {
  margin-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  white-space: nowrap;
}

.big-person-us__phones {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  white-space: nowrap;
}

.others-us {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 23.4375rem));
  gap: 1.875rem;
}

.others-us__img-ibg {
  padding-bottom: 128.2666666667%;
  display: block;
  margin-bottom: 1.5625rem;
}

.others-us__text {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.others-us__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  display: block;
}

.others-us__post {
  opacity: 0.7;
  line-height: 1.2222222222;
}

.contacts-page__contacts {
  border-bottom: 1px solid rgba(20, 20, 20, 0.15);
}

@supports (padding-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .contacts-page__contacts {
    padding-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .contacts-page__contacts {
    padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 70.625);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.5210176991rem  +  1.7699115044vw , 3.125rem )) {
  .contacts-page__contacts {
    margin-bottom: clamp( 1.875rem , 1.5210176991rem  +  1.7699115044vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.5210176991rem  +  1.7699115044vw , 3.125rem )) {
  .contacts-page__contacts {
    margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 70.625);
  }
}

.contacts-page__connect {
  padding: 1.25rem;
}

@supports (margin-bottom: clamp( 1.875rem , 0.282079646rem  +  7.9646017699vw , 7.5rem )) {
  .contacts-page__connect {
    margin-bottom: clamp( 1.875rem , 0.282079646rem  +  7.9646017699vw , 7.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.282079646rem  +  7.9646017699vw , 7.5rem )) {
  .contacts-page__connect {
    margin-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 70.625);
  }
}

.contacts-contacts__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2083333333;
  margin-bottom: 1.875rem;
}

.contacts-contacts__text {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 1.875rem;
}

.block-contacts {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 21.875rem));
}

@supports (gap: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .block-contacts {
    gap: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.875rem , 1.3440265487rem  +  2.6548672566vw , 3.75rem )) {
  .block-contacts {
    gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 70.625);
  }
}

.block-contacts__wrap-item {
  margin-bottom: 1.875rem;
}

.block-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.block-contacts__item_btn {
  margin-bottom: 1.875rem;
}

.block-contacts__icon {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.375rem;
          flex: 0 0 2.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-contacts__icon::before {
  font-size: 1.25rem;
  color: orange;
}

.block-contacts__title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 0.9375rem;
}

.block-contacts__text {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 1.5;
}

.block-contacts__text:hover {
  text-decoration: underline;
}

.block-contacts__button {
  color: white;
  background-color: black;
}

.block-contacts__sub-wrap {
  margin-bottom: 0.9375rem;
}

.block-contacts__sub-title {
  margin-bottom: 0.625rem;
}

.connect-contacts {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.connect-contacts__title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6;
  padding: 1.25rem;
  border-bottom: 1px solid rgba(20, 20, 20, 0.15);
  position: relative;
  margin-bottom: 1.875rem;
}

.connect-contacts__title::after {
  content: "";
  width: 12.5rem;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
}

.form-connect {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
}

.form-connect__item {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.form-connect textarea.form-connect__input {
  min-height: 9.25rem;
}

.form-connect__input {
  border: 1px solid rgba(20, 20, 20, 0.15);
  max-width: 44.875rem;
  min-height: 2.5rem;
  padding-left: 1.25rem;
  font-size: 0.875rem;
  line-height: 2.2857142857;
}

.form-connect__input ::-webkit-input-placeholder {
  color: rgba(20, 20, 20, 0.3);
}

.form-connect__input ::-moz-placeholder {
  color: rgba(20, 20, 20, 0.3);
}

.form-connect__input :-ms-input-placeholder {
  color: rgba(20, 20, 20, 0.3);
}

.form-connect__input ::-ms-input-placeholder {
  color: rgba(20, 20, 20, 0.3);
}

.form-connect__input ::placeholder {
  color: rgba(20, 20, 20, 0.3);
}

.form-connect__button {
  color: white;
}

@media (min-width: 61.99875em) {
  .mid-footer__container {
    grid-template-columns: repeat(auto-fit, minmax(14.5625rem, 1fr));
  }

  .bottom-footer__container {
    grid-template-columns: repeat(auto-fit, minmax(14.5625rem, 1fr));
  }
}

@media (min-width: 48em) {
  .form-connect__button {
    max-width: 19.75rem;
  }
}

@media (min-width: 62em) {
  .body-catalog__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 23.4375rem 1fr;
    grid-template-columns: 23.4375rem 1fr;
    gap: 1.875rem;
  }
}

@media (max-width: 62em) {
  .item-mid-footer__title {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .item-bottom-footer__title {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 48em) {
  .item-bottom-footer__form {
    margin-bottom: 1.875rem;
  }

  .header-catalog__navigate {
    display: -ms-grid;
    display: grid;
    gap: 1.875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-catalog__container {
    display: -ms-grid;
    display: grid;
    gap: 1.875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) {
  .top-goods__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .footer-catalog__more {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 39.75em) {
  .history-about-us__content {
    grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  }

  .big-person-us {
    grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  }
}